h2{
    border: 1px solid black;
    display: inline-block;
}
h1{
    font-size: 30pt;
    border: 5px solid black;
    display: inline-block;
    padding: 5px;
}
.container{
    height: 300px;
    width: 400px;
    border: 1px solid black;
    text-align: center;
}